.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-block: fluid(22, 14);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;
  border-bottom: var(--border-width-s) solid transparent;

  @keyframes scrolling-header {
    to {
      background-color: var(--color-black-08);
      border-color: var(--color-black-15);
      padding-block: 10px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
}
