.slider {
  position: relative;


  &--isBeyondTheVieportOnMobileS {
    @include mobile-s {
      width: calc(100vw - var(--container-padding-x));
    }
  }


  &__scrollbar {
    position: absolute;
    top: calc(100% + 24px);
    width: 80px;
    height: 5px;
    background-color: var(--color-black-20);
    border-radius: 20px;


    @include abs-x;


    &-drag {
      height: 100%;
      border-radius: inherit;
      background-color: var(--color-red-45);
    }

  }


}
